html {
  background-color: #fefeef;
  background-image: url(../images/leather-1.jpg);
  background-repeat: repeat;
  color: #333366;
  padding: 0px;
  margin: 0px;
  line-height: 24px;
}
body {
  padding: 0px;
  margin: 0px;
}
section {
  border-radius: 16px;
  padding: 16px;
  width: 80%;
  height: 80%;
  margin: 10% 10%;
  background-image: url(../images/paper-2.jpg);
  background-repeat: repeat;
}
h1 {
  font-size: 32px;
  line-height: 48px;
}
p {
  margin-top: 16px;
  margin-bottom: 0px;
  padding-left: 16px;
  width: 48em;
}
p + p {
  text-indent: 16px;
  margin-top: 0px;
}
